<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.qq.connect.demo.IndexServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<!-- 业界标准 用.do后缀来表示 controler -->
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>afterlogin</servlet-name>
		<servlet-class>com.qq.connect.demo.AfterLoginRedirectServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>afterlogin</servlet-name>
		<!-- 业界标准 用.do后缀来表示 controler -->
		<url-pattern>/afterlogin.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shuoshuo</servlet-name>
		<servlet-class>com.qq.connect.demo.ShuoShuoServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.qq.connect.demo.TestServlet</servlet-class>
  </servlet>


	<servlet-mapping>
		<servlet-name>shuoshuo</servlet-name>
		<url-pattern>/shuoshuo.do</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
